*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#round{
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    background-color: red;
display: flex;
justify-content: center;
align-items: center;

}
#tre{
    width: 0; 
    height: 0; 
    border-top: 20vh solid transparent;
    border-bottom: 20vh solid transparent;
    border-left: 30vh solid green;
    margin: 2vh 2vh 2vh 10  vh;
}